body{
    margin: 50px auto;
    height: 400px;
    width: 400px;
    justify-content: center;
    text-align: center;
    border: 4px solid black;
}

body p{
    color: rgb(232, 22, 22);
    font-weight: bold;
    font-size: 22px;
}

body img{
    height: 120px;
    width: 150px;
    border-radius: 49%;
    border: 5px solid black;
    background-size: cover;
}

body label{
    font-size: 18px;
}

#guess{
    border: 2px solid black;
    width: 200px;
}

#submit{
    border: 2px solid black;
    height: 30px;
    width: 70px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

#submit:hover{
    background: black;
    border-radius: 20px;
}
